.header{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  left: 320px;
  z-index: 5;
  background-color: rgb(34,39,46);
  height: 60px;

}
.left-section{
  align-items: center;
  display: flex;
}
.topic-lessons{
  color: rgb(109, 120, 135);
  font-size: 25px;
  
}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  display: flex;
  align-items: center;
}
.language{
  background-color: transparent;
  flex: 1;
  border: solid;
  border: none;
  padding-top: 2px;
}
.language-icon{
  fill: rgb(109, 120, 135);
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.language-icon:hover {
  fill: rgb(72, 149, 239);
}

.right-section{
  flex: 1;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.exit{
  background-color: rgb(34,39,46);
  margin-right: 0;
  padding-right: 0;
  flex: 50px;
  height: 20px;
  width: 20px;
  border: solid;
  border: none;
  padding-top: 2px;
}

.exit-icon{
  margin-left: 0;
  fill: rgb(109, 120, 135);
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.exit-icon:hover {
  fill: red;
}

.pop-opacity{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(34,39,46);
  opacity: 0.8;
  transition: 0.8s;
}
.remove-pop{
  position: absolute;
  margin-left: 380px;
  margin-top: 150px;
}
.remove-pop-button{
  background-color: transparent;
  color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.remove-pop-button:hover{
  color: red;
}
.float-window{
  display: grid;
  grid-template-rows: 50px 40px 40px;
  opacity: 1;
  position: fixed;
  width: 350px;
  height: 150px;
  background-color: rgb(39, 46, 53);
  margin-top: 150px;
  margin-left: 50px;
  transition: 0.8s;
}
.choose-lang{
  color: rgb(109, 120, 135);
  font-size: 15px;
  margin-left: 150px;
  cursor: pointer;
  font-size: 20px;
}
.choose-lang:hover{
  color: white;
}
.choose-lang-title{
  color: rgb(72, 149, 239);
  font-size: 35px;
  margin-left: 130px;
  margin-top: 10px;
  font-size: 20px;
}