.left-sidebar{
  display: grid;
  grid-template-rows: 150px 1fr 1fr 1fr;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(39, 46, 53);
  color: rgb(109, 120, 135);
  width: 85px;
  z-index: 200;
  padding-top: 40px;
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}
.modes{
  margin-right: 0;
  padding-left: 35px;
}
.left-sidebar:hover{
  transition: 0.3s;
  width: 200px;
  max-width: 3200px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  
}
.sidebar-link{
  display: grid;
  grid-template-columns: 30px 30px;
  height: 80px;
 
  padding-left: 35px;
  margin-top: 0;
  font-size: 15px;
  color: rgb(109, 120, 135)
 
}
.sidebar-link:hover{
  transition: 0.15s;
  color: rgb(233, 233, 233);
}
.sidebar-link img {
  cursor: pointer;
  height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}

.icon-explain{
  cursor: pointer;
  padding-left: 15px;
}
.symbole-explain{
  font-size: 20px;
  padding-left: 16px;
  color: rgb(72, 149, 239);
}